


.header__nav{
    display: flex;
    width: 100%;
}

.header__logo{
    width: 20%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px;
}

.header__list{
    width: 80%;
    display: flex;
    justify-content: center;
    column-gap: 55px;
    background: #444444;
    border-radius: 0px 8px 8px 0px;
    padding: 16px 0;
    list-style-type: none;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
